# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Prisma
/generated/prisma
prisma/.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Uploads (dacă stochezi upload-uri local)
public/uploads/

# Vercel
.vercel

# Build outputs
dist/
build/
