:root {
  --color-primary: #f2871c;
  --color-primary-light: #fd9936;
  --color-primary-dark: #d56a00;
  --color-bg: #fcfaf7;
  --color-bg-light: #fff;
  --color-gray: #dadada;
  --color-text: #272727;
  --color-text-light: #444444;
  --color-disabled: #949494;
}

.text-large {
  font-size: 1.2rem !important;
}
/* === GLOBAL === */
body {
  font-family: "Helvetica", "Inter", sans-serif;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

header {
  background-color: var(--color-bg-light);
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 0;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo h1 {
  font-size: 22px;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: var(--color-primary-dark);
  font-weight: 600;
  transition: opacity 0.2s;
  margin: 0 12px;
}

.nav-item:hover {
  color: var(--color-primary);
  opacity: 0.8;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 40px;
}

main {
  padding: 2rem;
  max-width: 1300px;
  margin: auto;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--color-primary-dark);
}

/* === EVENT LIST === */
.event-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-top: 2rem;
}

/* === CARD GENERAL === */
.event-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.event-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.event-image {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.preview-image {
  width: 90px;
  height: 60px;
  object-fit: cover;
}

.event-card:hover .event-image img {
  transform: scale(1.06);
}

.event-info {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.event-title {
  margin: 0.1em 0;
  font-size: 1.3rem;
  line-height: 1.4;
}

.event-title a {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}

.event-title a:hover {
  color: var(--color-primary);
}

.event-description {
  color: var(--color-text-light);
  margin: 0.6em 0 1.2em;
  line-height: 1.5;
  font-size: 0.95rem;
}

.event-category {
  display: inline-block;
  background-color: var(--color-primary-light);
  color: #fff ;  
  padding: 0.3em 0.8em;
  border-radius: 50px;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.4em;
  width: fit-content;
}

/* === META INFO === */
.event-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: var(--color-text-light);
  border-top: 1px solid #eee;
}

.event-price {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1rem;
}

.event-datetime {
  line-height: 1;
  font-size: 1rem;
  color: var(--color-text);
}

.event-datetime i {
  color: var(--color-primary);
}

.event-location {
  line-height: 1;
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: 1em;
}

.event-location i {
  color: var(--color-primary);
}

.align-right {
  text-align: right;
}

.event-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* === CATEGORY === */
.category {
  display: inline-block;
  color: #3949ab;
  font-weight: 600;
  font-size: 0.85rem;
  background: #e8eaf6;
  padding: 0.35em 0.9em;
  border-radius: 9999px;
  margin-bottom: 0.8em;
  align-self: flex-start;
}

/* === FORM === */
.form-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.form-title {
  text-align: center;
  color: #2d3748;
  margin-bottom: 25px;
}

.form-text {
  color: var(--color-text-light);
  font-size: 13px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #4a5568;
}

form input,
form textarea, 
form select {
  padding: 10px 12px;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.2s ease;
  background-color: var(--color-bg-light);
}

form input:focus,
form textarea:focus {
  border-color: var(--color-primary);
  border-width: 2px;
  outline: none;
}

.error {
  color: #e63946;
  font-size: 0.9em;
  margin-top: 4px;
}

.errorInput {
  border: 1px solid #e63946 !important;
  background-color: #fff5f5;
}

.form-row {
  display: flex;
  gap: 15px;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 45px;
    box-sizing: border-box;
}

.password-toggle-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #666;
}

.password-toggle-btn:hover {
    color: #333;
}

/* === BUTTON === */
/* ============================================
   BUTTON STYLES
   ============================================ */
.btn {
  font-weight: 600;
  border: none;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
  background-color: var(--color-primary);
  color: #fff;
}

.btn-primary:hover, .btn-login:hover {
  background-color: var(--color-primary-light);
}

.btn-outline {
  background-color: transparent;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  width: fit-content;
}

.btn-outline:hover {
  background-color: var(--color-primary-light);
  color: #fff;
  border: 1px solid var(--color-primary-light);
}

.link {
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease;
  background-color: transparent;
  color: var(--color-primary-dark);
}

.link:visited {
  color: var(--color-primary-dark);
}

.link:hover {
  color: var(--color-primary-light);
  text-decoration: underline;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #4a5568;
  transition: color 0.2s;
}

.back-link:hover {
  color: #2b6cb0;
}

.btn-logout {
  background-color: var(--color-gray);
  color: var(--color-text);
  margin-bottom: 0 !important;
}
.btn-logout:hover {
  background-color: #bfbfbf;
}

.btn-login {
  padding: 10px 14px;
  background-color: var(--color-primary);
  color: #fff;
  margin-bottom: 0 !important;
}

.destructive {
  color: red !important;
  border-color: red !important;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.destructive:hover {
  background-color: #ff4d4d !important;
  color: #fff !important;
  border-color: #ff4d4d !important;
}

/* === EVENT PAGE === */
.event-image-large {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.event-h1 {
  margin: 10px 0 20px 0;
  font-size: 2rem;
  color: var(--color-primary-dark);
  text-align: center;
  line-height: 1.2;
}

.event-layout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 40px;
  margin: 20px 0 40px 0;
}

.sidebar {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.e-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-organizer{
  margin: 0;
}
.post-date {
  margin: 15px 0;
  color: var(--color-disabled);
}

/* === FOOTER === */
.footer {
  text-align: center;
  padding: 1.8em 1em;
  background: var(--color-primary-dark);
  margin-top: 3em;
  color: var(--color-bg);
  font-size: 0.95rem;
}

.copyright {
  color: "#fff";
  margin: 0;
}

/* === LOGIN === */
.login-container {
    background: white;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 350px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-primary-dark);
}

.mb-0 {
  margin-bottom: 0 !important;
}

/* === USER PROFILE === */
.profile-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  margin: 40px auto;
  background: #fff;
  padding: 40px 50px 60px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.user-info-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 15px;
  align-items: stretch;
}

.profile-info {
  padding: 40px;
  border-radius: 15px;
  border: 2px solid #ffcb96;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  margin-bottom: 30px;
  flex-shrink: 0; /* Previne comprimarea */
  min-width: 100px; /* Setează o lățime minimă */
}

.username {
  margin: 0;
  margin-bottom: 8px;
  font-size: 1.2rem;
  color: var(--color-primary-dark);
}





/* === RESPONSIVE === */
@media screen and (max-width: 1200px) {
  header {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 1200px) and (min-width: 570px) {
  .event-meta {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
  }
} 

@media screen and (max-width: 900px) {
  header {
    padding: 1rem;
  }
  
  .nav {
    gap: 8px;
  }
  
  .nav-item {
    margin: 0 6px;
    font-size: 14px;
  }
  
  .profile-wrapper {
    margin-left: 20px;
  }

  .event-list {
    grid-template-columns: 1fr 1fr;
  }
  .event-layout {
    grid-template-columns: 3fr 2fr;
  }
}

@media screen and (max-width: 770px) {
  main {
    padding: 1.5rem;
  }

  .event-card {
    max-width: 100%;
  }

  .event-image {
    height: 180px;
  }
  
  .user-info-wrapper{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 570px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0.8rem;
  }
    
  .nav {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  
  .nav-item {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    font-size: 13px;
  }
  
  .profile-wrapper {
    flex-direction: column;
    margin-left: 0;
    gap: 10px;
    width: 100%;
  }
  
  .profile-wrapper form {
    width: 100%;
  }
  
  .profile-wrapper a {
    width: 100%;
  }

  .logo h1 {
    font-size: 18px;
  }
  
  .logo img {
    width: 25px;
    height: 25px;
  }

  .event-list {
    grid-template-columns: 1fr;
  }
  .event-layout {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .e-details-wrapper {
    align-items: center;
  }
  .sidebar {
    width: 50%;
  }
}